wsdl/Appointments.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="https://www.bankhapoalim.co.il/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://www.bankhapoalim.co.il/">
  <xs:import schemaLocation="http://localhost:54401/Appointments.svc?xsd=xsd2" namespace="https://www.bankhapoalim.co.il/data"/>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q1:Appointment" xmlns:q1="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q2:Appointment" xmlns:q2="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEndResult" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="start" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="maxResults" nillable="true" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResult" nillable="true" type="q3:ArrayOfAppointment" xmlns:q3="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="start" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="maxResults" nillable="true" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEndResult" nillable="true" type="q4:ArrayOfAppointment" xmlns:q4="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindResult" nillable="true" type="q5:Appointment" xmlns:q5="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindEndResult" nillable="true" type="q6:Appointment" xmlns:q6="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q7:Appointment" xmlns:q7="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q8:Appointment" xmlns:q8="https://www.bankhapoalim.co.il/data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Decline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>