EMailHandlers/Service References/RulesServiceReference/RulesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54401/RulesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bnhp.Office365" />
  <xs:element name="GetRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailbox" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bnhp.Office365" minOccurs="0" name="GetRulesResult" nillable="true" type="q1:ArrayOfRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastCheckResult" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLastCheckResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>