Appointments/wsdl/Appointments.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="https://www.bankhapoalim.co.il/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/">
  <xs:import schemaLocation="http://localhost:54401/Appointments.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q1:Appointment" xmlns:q1="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Appointment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowNewTimeProposal" type="xs:boolean"/>
      <xs:element minOccurs="0" name="AppointmentReplyTime" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="AppointmentSequenceNumber" type="xs:int"/>
      <xs:element minOccurs="0" name="AppointmentState" type="xs:int"/>
      <xs:element minOccurs="0" name="AppointmentType" type="xs:int"/>
      <xs:element minOccurs="0" name="ConferenceType" type="xs:int"/>
      <xs:element minOccurs="0" name="DateTimeCreated" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DateTimeReceived" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DateTimeSent" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="DisplayCc" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="DisplayTo" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Duration" nillable="true" type="ser:duration"/>
      <xs:element minOccurs="0" name="End" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EnhancedLocation" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FirstOccurrence" nillable="true" type="q2:OccurrenceInfo" xmlns:q2="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="ICalDateTimeStamp" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ICalRecurrenceId" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ICalUid" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Importance" type="q3:Importance" xmlns:q3="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="IsAllDayEvent" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsCancelled" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsMeeting" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsOnlineMeeting" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsRecurring" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsResponseRequested" type="xs:boolean"/>
      <xs:element minOccurs="0" name="IsUnmodified" type="xs:boolean"/>
      <xs:element minOccurs="0" name="JoinOnlineMeetingUrl" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="LastModifiedName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="LastModifiedTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="LastOccurrence" nillable="true" type="q4:OccurrenceInfo" xmlns:q4="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MeetingRequestWasSent" type="xs:boolean"/>
      <xs:element minOccurs="0" name="MeetingWorkspaceUrl" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="MyResponseType" type="q5:MeetingResponseType" xmlns:q5="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="NetShowUrl" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="OptionalAttendees" nillable="true" type="q6:ArrayOfAttendee" xmlns:q6="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="Organizer" nillable="true" type="q7:Attendee" xmlns:q7="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="OriginalStart" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Recurrence" nillable="true" type="q8:Recurrence" xmlns:q8="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="ReminderMinutesBeforeStart" type="xs:int"/>
      <xs:element minOccurs="0" name="RequiredAttendees" nillable="true" type="q9:ArrayOfAttendee" xmlns:q9="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="Resources" nillable="true" type="q10:ArrayOfAttendee" xmlns:q10="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="RetentionDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Sensitivity" type="q11:Sensitivity" xmlns:q11="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="Start" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TextBody" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="When" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appointment" nillable="true" type="q12:Appointment" xmlns:q12="https://www.bankhapoalim.co.il/"/>
  <xs:complexType name="OccurrenceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Start" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OccurrenceInfo" nillable="true" type="q13:OccurrenceInfo" xmlns:q13="https://www.bankhapoalim.co.il/"/>
  <xs:simpleType name="Importance">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Low"/>
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="High"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Importance" nillable="true" type="q14:Importance" xmlns:q14="https://www.bankhapoalim.co.il/"/>
  <xs:simpleType name="MeetingResponseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Organizer"/>
      <xs:enumeration value="Tentative"/>
      <xs:enumeration value="Accept"/>
      <xs:enumeration value="Decline"/>
      <xs:enumeration value="NoResponseReceived"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeetingResponseType" nillable="true" type="q15:MeetingResponseType" xmlns:q15="https://www.bankhapoalim.co.il/"/>
  <xs:complexType name="ArrayOfAttendee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attendee" nillable="true" type="q16:Attendee" xmlns:q16="https://www.bankhapoalim.co.il/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttendee" nillable="true" type="q17:ArrayOfAttendee" xmlns:q17="https://www.bankhapoalim.co.il/"/>
  <xs:complexType name="Attendee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attendee" nillable="true" type="q18:Attendee" xmlns:q18="https://www.bankhapoalim.co.il/"/>
  <xs:complexType name="Recurrence">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Interval" type="xs:int"/>
      <xs:element minOccurs="0" name="NumberOfOccurrences" nillable="true" type="xs:int"/>
      <xs:element minOccurs="0" name="OriginalTypeName" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Type" type="q19:RecurrenceType" xmlns:q19="https://www.bankhapoalim.co.il/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recurrence" nillable="true" type="q20:Recurrence" xmlns:q20="https://www.bankhapoalim.co.il/"/>
  <xs:simpleType name="RecurrenceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown"/>
      <xs:enumeration value="Daily"/>
      <xs:enumeration value="Weekly"/>
      <xs:enumeration value="Monthly"/>
      <xs:enumeration value="Yearly"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecurrenceType" nillable="true" type="q21:RecurrenceType" xmlns:q21="https://www.bankhapoalim.co.il/"/>
  <xs:simpleType name="Sensitivity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal"/>
      <xs:enumeration value="Personal"/>
      <xs:enumeration value="Private"/>
      <xs:enumeration value="Confidential"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Sensitivity" nillable="true" type="q22:Sensitivity" xmlns:q22="https://www.bankhapoalim.co.il/"/>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateResult" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q23:Appointment" xmlns:q23="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEndResult" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="start" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="maxResults" nillable="true" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetResult" nillable="true" type="q24:ArrayOfAppointment" xmlns:q24="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAppointment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Appointment" nillable="true" type="q25:Appointment" xmlns:q25="https://www.bankhapoalim.co.il/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointment" nillable="true" type="q26:ArrayOfAppointment" xmlns:q26="https://www.bankhapoalim.co.il/"/>
  <xs:element name="GetBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="start" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="maxResults" nillable="true" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEndResult" nillable="true" type="q27:ArrayOfAppointment" xmlns:q27="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindResult" nillable="true" type="q28:Appointment" xmlns:q28="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindEndResult" nillable="true" type="q29:Appointment" xmlns:q29="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q30:Appointment" xmlns:q30="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="appointment" nillable="true" type="q31:Appointment" xmlns:q31="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Accept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Decline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineBeginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineBeginResult" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestID" type="xs:long"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeclineEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeclineEndResult" nillable="true" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Notification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="changeType" nillable="true" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NotificationResult" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="folderID" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="skip" nillable="true" type="xs:int"/>
        <xs:element minOccurs="0" name="take" nillable="true" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChangesResult" nillable="true" type="q32:ArrayOfChange" xmlns:q32="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Change" nillable="true" type="q33:Change" xmlns:q33="https://www.bankhapoalim.co.il/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChange" nillable="true" type="q34:ArrayOfChange" xmlns:q34="https://www.bankhapoalim.co.il/"/>
  <xs:complexType name="Change">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeType" type="q35:ChangeType" xmlns:q35="https://www.bankhapoalim.co.il/"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="FolderID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Change" nillable="true" type="q36:Change" xmlns:q36="https://www.bankhapoalim.co.il/"/>
  <xs:simpleType name="ChangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created"/>
      <xs:enumeration value="Updated"/>
      <xs:enumeration value="Deleted"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChangeType" nillable="true" type="q37:ChangeType" xmlns:q37="https://www.bankhapoalim.co.il/"/>
  <xs:element name="GetChangeStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="folderID" nillable="true" type="xs:string"/>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime"/>
        <xs:element minOccurs="0" name="skip" nillable="true" type="xs:int"/>
        <xs:element minOccurs="0" name="take" nillable="true" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetChangeStatsResult" nillable="true" type="q38:ArrayOfChangeStats" xmlns:q38="https://www.bankhapoalim.co.il/"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfChangeStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChangeStats" nillable="true" type="q39:ChangeStats" xmlns:q39="https://www.bankhapoalim.co.il/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChangeStats" nillable="true" type="q40:ArrayOfChangeStats" xmlns:q40="https://www.bankhapoalim.co.il/"/>
  <xs:complexType name="ChangeStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int"/>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangeStats" nillable="true" type="q41:ChangeStats" xmlns:q41="https://www.bankhapoalim.co.il/"/>
</xs:schema>